.winner-display-container{
    color:white;
    display:flex;
    justify-content: center;
    background-color:black;
    height:100%;
}

.score-display{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
}
.score-box{
    display:flex;
    flex-direction: row;
}

.chip-display{
    display:flex;
    flex-direction: row;
}